<div data-hook="admin_image_form_fields">
  <div class="four columns alpha">
    <div data-hook="file" class="field">
      <%= f.label :label %><br>
      <%= f.text_field :label %>
    </div>
    <div data-hook="variant" class="field">
     <%= f.label :input_type %><br>
      <%= f.text_field :input_type %>
    </div>
  </div>
  <div data-hook="alt_text" class="field ">
    <%= f.label :placeholder %><br>
      <%= f.text_field :placeholder %>
  </div>
</div>

<div class="clear"></div>
