<% cache [I18n.locale, current_currency, @product] do %>
    <div class="col-md-4">

        <div id="product-description" data-hook="product_description">

          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <div itemprop="description" data-hook="description">
            <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
          </div>

         

        </div>
</div>
  <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

    
      
<div class="col-md-4">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" data-hook>
            <%= render :partial => 'image' %>
          </div>
          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails',:locals => {:color => @arr.uniq.first} %>
          </div>
        </div>
        </div>
         
    </div>
<div class="col-md-4">
 <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>
        </div>

     


   
    
       
      </div>
    </div>
    
  </div>
<% end %>
